**
!.dockerignore
!Dockerfile
!LICENSE
!README.md
!environment.yml
!pyproject.toml
!src/
!src/viralscan/
!src/viralscan/Snakefile
!src/viralscan/__init__.py
!src/viralscan/__main__.py
!src/viralscan/anello_align.py
!src/viralscan/anellovirus.py
!src/viralscan/chemistry.py
!src/viralscan/chemistry_check.py
!src/viralscan/cli/__init__.py
!src/viralscan/cli/parsers.py
!src/viralscan/constants.py
!src/viralscan/data_fetch.py
!src/viralscan/defaults.py
!src/viralscan/enrichment.py
!src/viralscan/evidence.py
!src/viralscan/gene_programs.py
!src/viralscan/hpv_genes.py
!src/viralscan/kb_outputs.py
!src/viralscan/menu.py
!src/viralscan/molecule_verdict.py
!src/viralscan/multimapping.py
!src/viralscan/reference_strategy.py
!src/viralscan/repeat_merges.py
!src/viralscan/run_context.py
!src/viralscan/run_safety.py
!src/viralscan/runconfig.py
!src/viralscan/sensitivity.py
!src/viralscan/reads.py
!src/viralscan/strand.py
!src/viralscan/utils.py
!src/viralscan/validation.py
!src/viralscan/virus_catalog.py
!src/viralscan/virus_grouping.py
!src/viralscan/virus_identity.py
!src/viralscan/whitelist_preflight.py
!src/viralscan/data/
!src/viralscan/data/__init__.py
!src/viralscan/data/anellovirus_accessions.tsv
!src/viralscan/data/anellovirus_genes.tsv
!src/viralscan/data/broad_discovery_accessions.tsv
!src/viralscan/data/gene_programs.tsv
!src/viralscan/data/hpv_genes.tsv
!src/viralscan/data/index_exclusions.tsv
!src/viralscan/data/repeat_gene_merges.tsv
!src/viralscan/data/virus_catalog.tsv
!src/viralscan/schemas/
!src/viralscan/schemas/__init__.py
!src/viralscan/schemas/v3/
!src/viralscan/schemas/v3/__init__.py
!src/viralscan/schemas/v3/artifact_inventory.schema.json
!src/viralscan/schemas/v3/claim_registry.schema.json
!src/viralscan/schemas/v3/count_audit.schema.json
!src/viralscan/schemas/v3/evidence_manifest.schema.json
!src/viralscan/schemas/v3/h5ad_contract.json
!src/viralscan/schemas/v3/positive_control_receipt.schema.json
!src/viralscan/schemas/v3/positive_control_report.schema.json
!src/viralscan/schemas/v3/reference_manifest.schema.json
!src/viralscan/schemas/v3/run_complete.schema.json
!src/viralscan/schemas/v3/run_manifest.schema.json
!src/viralscan/schemas/v3/validation_protocol.schema.json
!src/viralscan/scripts/
!src/viralscan/scripts/analysis.py
!src/viralscan/scripts/anello_align.py
!src/viralscan/scripts/build_reference.py
!src/viralscan/scripts/cellcalling.py
!src/viralscan/scripts/detection.py
!src/viralscan/scripts/emptydrops.R
!src/viralscan/scripts/evidence_run.py
!src/viralscan/scripts/gene_programs.py
!src/viralscan/scripts/host_filter.py
!src/viralscan/scripts/hostresponse.py
!src/viralscan/scripts/multimap.py
!src/viralscan/scripts/ncbi_fetch.py
!src/viralscan/scripts/read_filter.py
!src/viralscan/scripts/umap.py
!src/viralscan/templates/
!src/viralscan/templates/report.html.j2
